<div class="widget-next-match">
    <div class="widget-title">
      <h3>{{playerInput.name}}</h3>
    </div>
    <div class="widget-body mb-3">
      <div class="widget-vs">
        <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
          <div class="team-2 text-center">
            <img src={{playerInput.photo}} alt="Image">
            <h3>Position :{{playerInput.position}}</h3>
            <h3>Age :{{playerInput.age}}</h3>
            <h3>Number:{{playerInput.nombre}}</h3>
          </div>
          
          
        </div>
      </div>
    </div>

    
  </div>
